<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <div>
    <a id="custom-login-btn" href="javascript:loginWithKakao()">
      <img src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg" width="222"/>
    </a>
    <p id="token-result"></p>
  </div>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

  <script type="text/javascript">
    (function() {
      Kakao.init('9b25753e06c7fa50fa256282f50fa9c7');
      console.log(Kakao.isInitialized());
    })();

    function loginWithKakao() {
      Kakao.Auth.authorize({
        redirectUri: 'http://www.depther.me:8080/signUp/kakao'
      })
    }
    // 아래는 데모를 위한 UI 코드입니다.
    displayToken()

    function displayToken() {
      const token = getCookie('authorize-access-token')
      if(token) {
        Kakao.Auth.setAccessToken(token)
        Kakao.Auth.getStatusInfo(({ status }) => {
          if(status === 'connected') {
            document.getElementById('token-result').innerText = 'login success. token: ' + Kakao.Auth.getAccessToken()
          } else {
            Kakao.Auth.setAccessToken(null)
          }
        })
      }
    }

    function getCookie(name) {
      const value = "; " + document.cookie;
      const parts = value.split("; " + name + "=");
      if (parts.length === 2) return parts.pop().split(";").shift();
    }
  </script>
</body>
</html>